@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Merriweahter', serif;
    background: #222831;
}

.navbar {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #333333;
    position: fixed;
}

.logo {
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}

.logo h1 {
    color: #F2A33A;
    font-family: 'Playfair Display', serif;
}

.menu {
    padding: 20px;
    text-align: right;
    margin: 9%;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px 20px;
    color: #F2A33A;
}

.menu .chocolate:hover {
    background-image: linear-gradient(45deg, rgba(150, 75, 0, 1) 0%, rgba(210, 105, 30, 1) 50%, rgba(255, 228, 196, 1) 100%);
    border-radius: 20px;
    padding: 18px;
    transition: 0.5;
}

.menu .baunilha:hover {
    background-image: linear-gradient(to right, #f3e5ab, #f5deb3);
    border-radius: 20px;
    padding: 18px;
    transition: 0.5;
}

.menu .creme:hover {
    background-image: linear-gradient(to right, #f5d5dc, #fffdd0);
    border-radius: 20px;
    padding: 18px;
    transition: 0.5;
}

.menu .morango:hover {
    background-image: linear-gradient(to right, #ff9aa2, #ff6f91);
    border-radius: 20px;
    padding: 18px;
    transition: 0.5;
}

.menu .napolitano:hover {
    background-image: linear-gradient(to right, #f3e5ab, #ff9aa2, #7b3f00);
    border-radius: 20px;
    padding: 18px;
    transition: 0.5;
}

.menu .pistache:hover {
    background-image: linear-gradient(to right, #c7e6b2, #a8d5a2);
    border-radius: 20px;
    padding: 20px;
    transition: 0.5;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.headline {
    margin-left: 10%;
    flex: 43%;
    color: #8B4513;
    font-family: 'Playfair Display', serif;
}

.headline h2 {
    font-size: 30px;
}

.headline h1 {
    font-size: 38px;
    color: #F2A33A;
}

.contact-btn {
    text-decoration: none;
    background: #E9C46A;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Oleo Sript';
}

.contact-btn:hover {
    background: #8B4513;
}

.img-headline {
    flex: 40%;
    margin-right: 7%;
    max-width: 100%;
    max-height: 100%;
}

.img-headline img {
    height: 400px;
    width: 510px;
}

.img-headline a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 12px;
    color: #FFFFFF;
}

section {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    text-align: center;
}

section h2 {
    width: 100%;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    color: #E9C46A;
}

.container {
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    transform-style: preserve-3d;
}

.container .card {
    display: inline-block;
    width: 30%;
    padding: 5vh;
    margin: 1%;
    color: white;
    border: 1px solid #E9C46A;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.container .card:hover {
    padding: 9vh;
}

.container .card img.icon {
    transform-style: preserve-3d;
    transition: .5s;
}

.container .card button {
    padding: 10px 40px;
    background-color: #00b938;
    border: 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.container .card:hover img.icon, .container .card:hover button {
    transform: translate3d(0, 0, 50px);
}

.container .card p {
    margin: 4vh;
}

.container div.card1:hover {
    background-image: linear-gradient(45deg, rgba(150, 75, 0, 1) 0%, rgba(210, 105, 30, 1) 50%, rgba(255, 228, 196, 1) 100%);
}

.container div.card2:hover {
    background-image: linear-gradient(to right, #f3e5ab, #f5deb3);
}

.container div.card3:hover {
    background-image: linear-gradient(to right, #f5d5dc, #fffdd0);
}

.container div.card4:hover {
    background-image: linear-gradient(to right, #ff9aa2, #ff6f91);
}

.container div.card5:hover {
    background-image: linear-gradient(to right, #f3e5ab, #ff9aa2, #7b3f00);
}

.container div.card6:hover {
    background-image: linear-gradient(to right, #c7e6b2, #a8d5a2);
}

footer {
    margin-top: 10vh;
    background-image: linear-gradient(0deg, #222831, #333333);
    text-align: center;
    height: 70px;
    border-top: 5px solid #7b3f00;
}

.logo-rodape {
    padding: 18vh;
}

.agencia {
    color: white;
    font-size: 34px;
}

.paragrafo {
    color: white;
}

.bold {
    color: white;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
}