@media screen and (max-width:1280px){
    .navbar{
        position: relative;
    }
    .menu {
        display: none;
    }
    .logo{
        text-align: center;
        margin:0;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .img-headline{
        text-align: center;
        flex:100%;
        margin: 5%;
    }
    .img-headline img{
        max-width: 100%;
        max-height: 100%;
    }
    .container .card{
        width: 100%;
        margin-bottom: 4vh;
    }
    .container .card:hover{
        width: 100%;
        margin-bottom: 4vh;
    }
    .whats{
        display: none;
    }
}